/.vscode/**
**/*.pyc
/public/js/**/*.js
/public/js/**/*.js.map
/assets
/save_*.json
/crash.json
/crash.log
/statistics.json
/deck/*.json
/launch-debug.json
/replays/**/*.json
/replays_*/
/out/
/.venv/
